
.personal-input-container {
    max-width: 300px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .profile-menu-container {
      display: none;
      width: 250px;
      height: 120px;
      position: absolute;
      z-index: 10;
      right: 165px;
      top: 90px;
      background: #FFFFFF;
      border-radius: 0px 0px 16px 16px;
      flex-direction: column;
      gap: 32px;
      align-items: flex-end;
      font-size: 18px;
      padding: 32px;
      font-weight: 700;
      box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    
      & li:hover {
        color: #A7A7A7;
        cursor: pointer}
    }

    &:hover .profile-menu-container {display: flex;}

    .personal-input-info{
      display: flex;
      flex-direction: column;
    }

    .img-container {
      position: relative;
      width: 60px;
      height: 60px;
      margin-left: 10px;
      filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2)) drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18)) drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
      box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .avatar {
        position: absolute;
        width: 80%;
        height: 80%;
        object-fit: contain;
      }
    }

    .personal-input-greetings {
      height: 100%;
      font-size: 14px;
      line-height: 1.29;
      font-weight: 600;
    }
}



