/*
@font-face {
	font-family: 'fontello';
	src: url('../../font/fontello.eot?0000');
	src: url('../../font/fontello.eot?0000#iefix') format('embedded-opentype'),
      url('../../font/fontello.woff2?0000') format('woff2'),
      url('../../font/fontello.woff?0000') format('woff'),
      url('../../font/fontello.ttf?0000') format('truetype'),
      url('../../font/fontello.svg?0000#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/
@import '../../global.scss';

.loader-wrapper {
  width: 100%;
  min-height: 100vh;
}

.loader {
  position: absolute;
  z-index: 23;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
}  

.blur {
  position: absolute;
  z-index: 22;
  filter: blur(10px);
}

.hightlight {
  color: #F42C4F;
}

.reg {
  width: 100vw;
  height: 100vh;
  background: $btn-color;
  margin-top: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 46px;

  .company-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    color: #FFFFFF;
  }

  .reg-form-err {
    margin-top: 113px;
    width: 600px;
    height: 314px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 96px;
    gap: 32px;

    .reg-again {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: #363636;
    }

    .reg-btn-again {
      width: 100%;
      height: 52px;
      background: $btn-color;
      border-radius: 30px;
      padding: 14px 95px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
    }
  }

  .reg-form {
    width: 590px;
    height: 492px;
    background: #FFFFFF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 56px;
    gap: 32px;

    .reg-block {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .reg-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        color: #363636;
      }

      .reg-step {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        color: #363636;
      }
    }

    .reg-inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 18px;

      .reg-container {
        position: relative;
        width: 100%;
        height: 74px;
        display: flex;
        flex-direction: column;
        gap: 2px;

          .reg-label {
            position: absolute;
            top: 1px;
            left: 1px;
            padding: 19px 12px;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.1px;
            color: #363636;          
            mix-blend-mode: normal;
            transition: 0.3s;
            pointer-events: none;
          }

          .check-icon {
            position: absolute;
            top: 19px;
            right: 40px;
            border: none;
            background: transparent;
          }

          .eye-icon {
            position: absolute;
            top: 19px;
            right: 12px;
            border: none;
            background: transparent;
          }
          
          .error-span {
            position: absolute;
            top: 60px;
            left: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.2px;
            color: #A7A7A7;
            mix-blend-mode: normal;
          }

          .error {
            position: absolute;
            top: 60px;
            left: 12px;
            margin-left: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;
            color: #F42C4F;
            mix-blend-mode: normal;
          }

          .reg-input {
            position: absolute;
            box-sizing: border-box;
            background: #F9F9FA;
            border-radius: 4px;
            width: 100%;
            height: 56px;
            border: none;
            padding: 20px 0px 0px 12px;
            // font-family: "fontello";
            font-size: 14px;
            line-height: 1.29;
            color: #363636;
            mix-blend-mode: normal;
            outline: none;
            border-bottom: solid 1px #BFC4C9;
          }

          .reg-input-warn {
            position: absolute;
            box-sizing: border-box;
            background: #F9F9FA;
            border-radius: 4px;
            width: 100%;
            height: 56px;
            border: none;
            padding: 20px 0px 0px 12px;
            // font-family: "fontello";
            font-size: 14px;
            line-height: 1.29;
            color: #363636;
            mix-blend-mode: normal;
            outline: none;
            border-bottom: solid 1px #F42C4F;
          }
          
          .reg-input:focus + .reg-label,
          .reg-input:valid + .reg-label {
            transform: translateY(-12px);
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.2px;
            color: #A7A7A7;          
          }

          .reg-input-warn:focus + .reg-label,
          .reg-input-warn:valid + .reg-label {
            transform: translateY(-12px);
            font-weight: 500;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.2px;
            color: #A7A7A7;          
          }
      }
    }
    
    .reg-btn {
      width: 100%;
      height: 52px;
      border-radius: 30px;
      padding: 14px 125px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      margin-top: 18px;
      background: $btn-color;
      
      &:disabled {
        background: #EBEBEB;
      }
    }

    .reg-enter {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color:#727272;
      margin-top: -16px;

      .reg-login {
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: #363636;
        margin-left: 16px;
      }
    }
  }
}


@media (max-width: 600px) {
  .reg {
    gap: 14px;
  
    .company-title {
      font-size: 18px;
      line-height: 1.56;
    }
  
    .reg-form-err {
      width: 288px;
      height: 466px;
      padding: 24px 16px;
    }
  
    .reg-form {
      width: 288px;
      height: 466px;
      padding: 24px 16px;
  
      .reg-inputs {
        .reg-container {
          height: 88px;
  
            .reg-label {
              font-size: 12px;
              line-height: 1.33;
            }
        }
      }
      
      .reg-btn {
        height: 40px;
        padding: 11px 64px;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 2px;
      }
  
      .reg-enter {
        font-size: 15px;
        line-height: 1.33;
        display: flex;
        flex-direction: column;
        gap: 7px;

        span {
          display: flex;
          flex-direction: row;
          gap: 15px;

          .reg-login {
            font-size: 12px;
            line-height: 1.5;
            margin-left: 0px;
          }
        }
      }
    }
  }
}


