.logo-container {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 40px;
        height: 100%;
        margin-right: 8px;
    }

    .logo-inscription {
        width: 111px;
        font-size: 16px;
        line-height: 1.23;
        font-weight: 600;
        letter-spacing: 1px;
    }
}



