.rating-modal {
  min-height: 100vh;
  width: 100vw;
  background: rgba(54, 54, 54, 0.3);  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:0;
  transition: 0.5s;
  pointer-events: none;
}

.rating-modal-active {
  opacity: 1;
  pointer-events: all;
}

.rating-modal-content {
  padding: 48px 56px;
  isolation: isolate;
  mix-blend-mode: normal;
  z-index: 16;
  position: absolute;
  width: 528px;
  height: 512px;
  background: #FFFFFF;
  border-radius: 16px;
  transition: 0.6s all;
  display: flex;
  flex-direction: column;
  align-items: center;

  .close-rating-modal-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #F9F9FA;
    border: none;
    text-align: center;
    position: absolute;
    top: 48px;
    right: 32px;
    z-index: 17;
  }

  .rating-modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #363636;
    width: 316px;
    height: 60px;    
  }
}

.rating-modal-content-active {
  transform: scale(1);
}

@media (max-width: 500px) {
  
.rating-modal-content {
  padding: 32px 16px;
  width: 288px;
  height: 428px;

  .close-rating-modal-btn {
    width: 16px;
    height: 16px;
    top: 32px;
    right: 16px;
  }

  .rating-modal-title {
    font-size: 18px;
    line-height: 1.56;
    width: 256px;
    height: 28px;    
  }
}
}

